<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <!-- Column 1 -->
      <div class="footer-col footer-col-1">
        {% include contact-info.html %}
      </div>
      <!-- Column 2 -->
      <div class="footer-col footer-col-2">
        {% include contact-social.html %}
      </div>
      <!-- Column 3 -->
      <div class="footer-col footer-col-3">
        {% include footer-link-it.html %}
      </div>
    </div>
  </div>
</footer>


<footer class="site-footer-sub">
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <!-- Column 1 -->
        <div class="footer-col footer-col-1">
          {% include footer-credits-link-it.html %}
        </div>
        <!-- Column 2 -->
        <div class="footer-col footer-col-2">

        </div>
        <!-- Column 3 -->
        <div class="footer-col footer-col-3">
          {% include footer-legal-link-it.html %}
        </div>
     </div>
    </div>
</footer>
