<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <!-- Column 1 -->
      <div class="footer-col footer-col-1">
        {% include contact-info.html %}
      </div>
      <!-- Column 2 -->
      <div class="footer-col footer-col-2">
        {% include contact-social.html %}
      </div>
      <!-- Column 3 -->
      <div class="footer-col footer-col-3">
        {% include footer-link-it.html %}
      </div>
    </div>
  </div>
</footer>

<footer class="site-footer" style="margin-bottom: 0px; padding-bottom: 0px">
  <div class="jumbotron" style="height: 60px; margin-bottom: 0px; margin-top: 0px; padding: 10px; background-color: $grey-color-dark;">
    <div class="container">

      <div class="footer-col-wrapper">
        <!-- Column 1 -->
        <div class="footer-col footer-col-1">
          {% include footer-credits-link-it.html %}
        </div>
        <!-- Column 2 -->
        <div class="footer-col footer-col-2">

        </div>
        <!-- Column 3 -->
        <div class="footer-col footer-col-3">
          {% include footer-legal-link-it.html %}
        </div>
     </div>
    </div>
  </div>
</footer>
