<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

  	{% include header-it.html %}

		<!-- Page Header -->
		<div class="jumbotron" style="height: {{ site.page_title_heght }}; margin-bottom: 0px; background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
			<div class="container">
				<div class="post-title">{{ page.title }}</div>
			</div>
		</div>



		<div class="page-content"  style="padding: 0 0;">
			<div class="wrapper">
				<h2>{{ site.title }}</h2>
				<hr>
	      <div class="row">
	        <div class="col-xs-6 col-md-4">
						{% include contact-info-social.html %}
	        </div>
	        <div class="col-xs-12 col-md-8">
	          {% include contact-form-thanks-it.html %}
	        </div>
	      </div>
			</div>
		</div>

    <div class="v-space" style="height:50px;"></div>

    {% include footer-it.html %}
	</body>
</html>
